<!-- <div class="panel">
			<div class="title">
				<p>Fire Call - 10:30am, 27/11/2015 - CHERRYBROOK</p>
			</div>
			<div class="required">
				<h5>Required for call:</h5>
				<ul>
					<li>
						<img src="{{ asset('img/badges/BF.png') }}" alt="Qualification Badge" class="badge">
					</li>
					<li>
						<img src="{{ asset('img/badges/CL.png') }}" alt="Qualification Badge" class="badge"></li>
					<li>
						<img src="{{ asset('img/badges/AF.png') }}" alt="Qualification Badge" class="badge">
					</li>
				</ul>
			</div>

				<table>
					<tr><th>Name</th><th>Qualification</th><th>Arrival Time</th></tr>
					<tr>
						<td>Erin Taylor</td>
						<td>
							<img class="badge" src="{{asset('img/badges/chainsaw.png')}}" alt="Badge Here">
							<img class="badge" src="{{asset('img/badges/firstaid.png')}}" alt="Badge Here" >
							<img class="badge" src="{{asset('img/badges/winch.png')}}" alt="Badge Here" >
							<img class="badge" src="{{asset('img/badges/vf.png')}}" alt="Badge Here" >
						</td>
						<td>
							15 mins
						</td>
					</tr>
					<tr>
						<td>Benjamin Sweetnam</td>
						<td>
							<img class="badge" src="{{asset('img/badges/heli.png')}}" alt="Badge Here" >
							<img class="badge" src="{{asset('img/badges/BF.png')}}" alt="Badge Here" >
							<img class="badge" src="{{asset('img/badges/GL.png')}}" alt="Badge Here" >
							<img class="badge" src="{{asset('img/badges/winch.png')}}" alt="Badge Here" >
						</td>
						<td>15 mins</td>
					</tr>
				</table>
		</div> -->