@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url("normalize.css");
* {
  box-sizing: border-box;
  font-family: tahoma,'sans-serif';
  margin: 0;
  padding: 0; }

.h1 {
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -5px;
  line-height: 128px; }

.h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px; }

.h3 {
  font-size: 45px;
  font-weight: 400;
  line-height: 64px; }

.h4 {
  font-size: 34px;
  font-weight: 400;
  line-height: 52px; }

.logo {
  margin: 0px;
  padding: 0px; }
  .logo img {
    float: left;
    margin: 0;
    padding: 0;
    height: 70px; }
  .logo h2 {
    width: 40%;
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 100px;
    font-weight: 400; }

.left-topbar {
  float: right; }

.fire-call-btn {
  float: left;
  margin-top: 15px;
  margin-right: 25px;
  padding: 15px;
  background-color: #ed1c24;
  color: #f8f8f8;
  font-weight: 100; }

.current-user {
  float: right;
  margin-top: 15px;
  margin-right: 25px;
  padding: 15px; }

.logout-btn {
  float: right;
  margin-top: 15px;
  margin-right: 25px;
  padding: 15px; }

.clear {
  clear: both; }

body {
  background-image: url("../../img/forest-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden; }

.topbar {
  margin: 0px;
  padding: 5px 15px;
  position: relative;
  background-color: #f8f8f8;
  box-shadow: 0px 1px 15px 0px #c0c0c0;
  z-index: 1; }

.sidebar {
  margin: 0;
  padding: 15px 0px;
  position: relative;
  height: 100vh;
  background-color: #f8f8f8;
  width: 15%;
  display: inline-block;
  float: left; }
  .sidebar ul {
    margin: 10%;
    padding: 0;
    list-style-type: none; }
    .sidebar ul li {
      padding: 15% 0;
      font-size: 1.4em; }
      .sidebar ul li a {
        color: #494949;
        text-decoration: none; }
        .sidebar ul li a i {
          margin-right: 20px; }
      .sidebar ul li :hover {
        color: #ed1c24; }
      .sidebar ul li .active {
        color: #ed1c24; }

.dashboard {
  margin: 0;
  padding: 15px 15px;
  position: relative;
  height: 100vh;
  width: 84%;
  display: inline-block; }

.panel {
  margin: 100px auto;
  display: relative;
  width: 100%;
  background-color: #f8f8f8; }
  .panel .title {
    background-color: #777777;
    color: white;
    padding-top: 1px;
    padding-left: 20px;
    font-weight: 100;
    font-family: Helvetica,Arial,sans-serif; }
    .panel .title p {
      -webkit-margin-before: 5px !important;
      -webkit-margin-after: 5px !important;
      padding-bottom: 5px; }
  .panel .pagination {
    width: 100% !important;
    background-color: #f8f8f8 !important;
    margin: 0 !important;
    padding-left: 50%;
    letter-spacing: 12pt;
    font-size: 15pt; }

table {
  color: #494949;
  width: 100%;
  padding-left: 15px;
  padding-bottom: 20px; }
  table th {
    text-align: left;
    padding-bottom: 10px;
    font-weight: 100; }
  table tr {
    padding-left: 100px;
    height: 33px; }
    table tr a {
      color: #494949;
      text-decoration: none; }
    table tr a:hover {
      color: #ed1c24; }
  table td,
  table th {
    padding-left: 10px;
    padding-right: 10px; }

/*# sourceMappingURL=dashboard.css.map */
