@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url('normalize.css');

$red: #ed1c24;
$grey: #9b9b9b;
*
{
	box-sizing: border-box;
}
.h1
{
	font-size: 112px;
	font-weight: 300;
	letter-spacing: -5px;
	line-height: 128px;
}
.h2
{
	font-size: 56px;
	font-weight: 400;
	line-height: 64px;
}
.h3
{
	font-size: 45px;
	font-weight: 400;
	line-height: 64px;
}
.h4
{
	font-size: 34px;
	font-weight: 400;
	line-height: 52px;
}

body{
	background-image: url('../../img/forest-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	overflow: hidden;
}
.login
{
	margin: 8% auto;
	width: 80%;
	height: 65vh;
	text-align: center;
	p
	{
		color: white;
		font-size: 26px;
		font-family: Helvetica,Arial,sans-serif;
		font-weight: 100;
		font-size: 1.7em;
		line-height: 1.7em;
		margin: 40px auto;
		width: 40%;
	}
}

.logo
{
	img
	{
		margin-top: 20px;
		width: 310px;
		height: 210px;
	}
}

form
{
	margin: 0 auto;
	width: 30%;
	min-width: 240px;
	input
	{
		text-indent: 0px;
	}
	.input-group
	{
		position: relative;
		span.fa
		{
			position: absolute;
    		left: 18px;
    		top: 17px;
    		font-size: 2.2em;
    		z-index: 1;
    		color: grey;
    		color: rgba(1,1,1,0.3);
		}
		span.fa-lock
		{
			left: 26px;
		}
	}
	input,
	button[type="submit"]
	{
		border-width: 1px;
		border-style: solid;
		border-color: $grey;
		outline: 0;
		position: relative;
		font-size: 18pt;
		font-weight: 200;
		padding: 20px;
	  	display: block;
	  	margin: 0 auto;
	  	width: 100%;
	  	:before
	  	{
	  		font-family: "font-awesome";
			content: "\f023";
			position: absolute;
			left: 10px;
			top: 10px;
	  	}
	}
	button[type="submit"]
	{
		margin-top: 20px;
		background-color: $red;
		/*outline: 0;*/
		border:none;
		color: white;
	}
}
