@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url('normalize.css');

$red: #ed1c24;
$white: #f8f8f8;
$grey: #777777;
$font-grey: #494949;
*
{
	box-sizing: border-box;
	font-family: tahoma,'sans-serif';
	// border: 1px black solid;
	margin: 0;
	padding: 0;
}
.h1
{
	font-size: 112px;
	font-weight: 300;
	letter-spacing: -5px;
	line-height: 128px;
}
.h2
{
	font-size: 56px;
	font-weight: 400;
	line-height: 64px;
}
.h3
{
	font-size: 45px;
	font-weight: 400;
	line-height: 64px;
}
.h4
{
	font-size: 34px;
	font-weight: 400;
	line-height: 52px;
}
.logo
{
	margin: 0px;
	padding: 0px;

	img
	{
		float: left;
		margin: 0;
		padding: 0;
		height: 70px;
	}
	h2
	{
		width: 40%;
		position: absolute;
		top: 25px;
		bottom: 0;
		left: 100px;
		font-weight: 400;

	}
}
.left-topbar
{
	float: right;
}
.fire-call-btn
{
	float: left;
	margin-top: 15px;
	margin-right: 25px;
	padding: 15px;
	background-color: $red;
	color: $white;
	font-weight: 100;
}
.current-user
{

	float: right;
	margin-top: 15px;
	margin-right: 25px;
	padding: 15px;

}
.logout-btn
{
	float: right;
	margin-top: 15px;
	margin-right: 25px;
	padding: 15px;
}
.clear
{
	clear: both;
}
body
{
	background-image: url('../../img/forest-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	overflow: hidden;
}

.topbar
{
	margin: 0px;
	padding: 5px 15px;
	position: relative;
	background-color: $white;
	box-shadow: 0px 1px 15px 0px #c0c0c0;
	z-index: 1;
}

.sidebar{
	margin: 0;
	padding: 15px 0px;
	position: relative;
	height: 100vh;
	background-color: $white;
	width: 15%;
	display: inline-block;
	float: left;
	ul
	{
		margin: 10%;
		padding: 0;
		list-style-type: none;
		li
		{
			padding: 15% 0;
			font-size: 1.4em;
			a
			{
				color: $font-grey;
				text-decoration: none;
				i
				{
					margin-right: 20px;
				}

			}
			:hover
			{
					color: $red;
			}
			.active
			{
				color: $red;
			}

		}
	}
}
.dashboard
{
	margin: 0;
	padding: 15px 15px;
	position: relative;
	height: 100vh;
	width: 84%;
	display: inline-block;
}
.panel
{
	margin: 100px auto;
	display: relative;
	width: 100%;
	background-color: $white;
	.title
	{
		background-color: $grey;
		color: white;
		padding-top: 1px;
		padding-left: 20px;
		font-weight: 100;
		font-family: Helvetica,Arial,sans-serif;
		p{
			    -webkit-margin-before: 5px!important;
   				-webkit-margin-after: 5px!important;
    			padding-bottom: 5px;
		}

	}
	.pagination
	{
		width: 100% !important;
		background-color: $white !important;
		margin: 0 !important;
		padding-left: 50%;
		letter-spacing: 12pt;
		font-size: 15pt;
	}
}
table
{
	color: $font-grey;
	width: 100%;
	padding-left: 15px;
	padding-bottom: 20px;
	th{
		text-align: left;
		padding-bottom: 10px;
		font-weight: 100;
	}
	tr
	{
		padding-left: 100px;
		height: 33px;
		a{
			color: $font-grey;
			text-decoration: none;

		}
		a:hover
			{
				color: $red;
			}
	}
	td,
	th {
		padding-left: 10px;
		padding-right: 10px;
	}


}