@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url('normalize.css');

$red: #ed1c24;
$white: #f8f8f8;
$grey: #777777;
$font-grey: #494949;
$light-grey: #cccccc;
$map: (key1: value1, key2: value2, key3: value3);
$breakpoints: (small: 480px, medium: 700px, large: 1024px);
$p-font-sizes: (null: 15px, small: 16px, medium: 17px, large: 19px);
$h1-font-sizes: (null: 28px, small: 31px, medium: 33px, large: 36px);

@mixin font-size($fs-map)
	@each $fs-breakpoint, $fs-font-size in $fs-map
		@if $fs-breakpoint == null
			font-size: $fs-font-size;
		@else
			@media screen and (min-width: $fs-breakpoint)
				font-size: $fs-font-size;
p
	@include font-size($p-font-sizes);
*
	box-sizing: border-box;
	font-family: tahoma,'sans-serif';
	// border: 1px black solid;
	margin: 0;
	padding: 0;
.h1
	font-size: 112px;
	font-weight: 300;
	letter-spacing: -5px;
	line-height: 128px;

.h2
	font-size: 56px;
	font-weight: 400;
	line-height: 64px;
.h3
	font-size: 45px;
	font-weight: 400;
	line-height: 64px;
.h4
	font-size: 34px;
	font-weight: 400;
	line-height: 52px;
.logo
	margin: 0px;
	padding: 0px;
	img
		float: left;
		margin: 0;
		padding: 0;
		height: 70px;
	h2
		width: 40%;
		position: absolute;
		top: 25px;
		bottom: 0;
		left: 100px;
		font-weight: 400;
.left-topbar
	float: right;
.fire-call-btn
	float: left;
	margin-top: 15px;
	margin-right: 25px;
	padding: 15px;
	background-color: $red;
	color: $white;
	font-weight: 100;
	text-decoration: none;
.current-user
	float: right;
	margin-top: 15px;
	margin-right: 25px;
	padding: 15px;
.logout-btn
	float: right;
	margin-top: 15px;
	margin-right: 25px;
	padding: 15px;
	color: black;
	text-decoration: none;
	&:hover
		color: $red;
.clear
	clear: both;
body
	background-image: url('../../img/forest-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	overflow: hidden;
.topbar
	margin: 0px;
	padding: 5px 15px;
	position: relative;
	background-color: $white;
	box-shadow: 0px 1px 15px 0px #c0c0c0;
	z-index: 1;
.sidebar
	margin: 0;
	padding: 15px 0px;
	position: relative;
	height: 100vh;
	background-color: $white;
	width: 15%;
	display: inline-block;
	float: left;
	min-width: 133px;
	font-size: 100%;
	ul
		margin: 10%;
		padding: 0;
		list-style-type: none;
		li
			padding: 15% 0;
			font-size: 1.2em;
			a
				color: $font-grey;
				text-decoration: none;
				i
					margin-right: 20px;
					min-width: 25px;
				&:hover
					color: $red;
			&:hover
				color: $red;
			&:active
				color: $grey;
			.active
				color: $red;
.dashboard
	margin: 0;
	padding: 15px 15px;
	position: relative;
	height: 100vh;
	width: 84%;
	margin-left: 0;
	display: inline-block;
.panel
	margin: 100px auto;
	display: relative;
	width: 100%;
	background-color: $white;
	table
		padding: 20px;
		width: 100%;
		tr
			padding-left: 100px;
	.pagination
		margin: 0px;
		background-color: $white;
		width: 100%;
		font-size: 16pt;
		li
			padding-left: 15pt;
			a
				text-decoration: none;
				color: black;
				:visited
					color: $red;
			:hover
				list-style-type: none;
				color: $red;
		.active
				color: $red;
	.required
		padding: 10px;
		margin-bottom: 16px;
		background-color: $light-grey;
		display: inline-block;
		width: 100%;
	.require:after
		clear: both;
	h5
		margin-left: 15px;
		color: $font-grey;
		line-height: 100%;
		font-size: 17pt;
		font-weight: 100;
		float: left;
		margin-left: 20%;
		line-height: 50px;
	ul
		list-style-type: none;
		margin-left: 15px;
		float: left;
		li
			float: left;
	.title
		background-color: $grey;
		color: white;
		padding-top: 20px;
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: 100;
		text-align: left;
		font-family: Helvetica,Arial,sans-serif;
		font-size: 14pt;
form
	width: 80%;
	margin: 0 auto;
	display: block;
	height: 1%;
	.input-group
		margin-left: 15%;
		float: left;
		width: 100%;
	label
		float: left
		text-align: right;
		width: 25%;
		margin: 0;
		padding: 0;
		font-size: 16pt;
		margin-top: 14px;
	input
		width: 50%;
		margin-left: 60px;
		height: 30px;
		font-size: 14pt;
		margin-top: 15px;
		text-indent: 20px;
		line-height: 20px;
		text-overflow: ellipsis;
	button[type="submit"]
		display: inline-block;
		width: 30%;
		height: 50px !important;
		margin-top: 25px;
		margin-left: 30%;
		margin-bottom: 20px;
		padding: 10px;
		padding-top: 0px;
		font-size: 16pt;
		background-color: $red;
		color: white;
		border: none;
	select
		width: 40%;
		font-size: 16px;
		margin-left: 25%;
	:after
		visibility: hidden;
		content: " ";
		clear: both;
		font-size: 0;
		height: 0;
.form-alert
    width: 70%;
    padding: 15px;
    margin: 15px auto -44px auto;
    list-style: none;
    color: white;
    font-size: x-large;
    background: #ED1C24;
#add_account_button
	display: inline;
	float: right;
	margin-right: 25px;
	color: white;
	text-decoration: none;
	&:hover
		color: $red;
table
	color: $font-grey;
	width: 100%;
	padding-left: 15px;
	padding-bottom: 20px;
	td,
	th
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 15px;
	th
		text-align: left;
		padding-bottom: 10px;
		font-weight: 100;
		color: $grey;
	tr
		color: $font-grey;
		height: 33px;
		a
			color: $grey;
			text-decoration: none;
			&:hover
				color: $red;
		button
    		background: none!important;
    		border: none;
    		padding: 0!important;
    		/*border is optional*/
    		// border-bottom: 1px solid #444;
    		color: $grey !important;
    		font-size: 15px !important;
    		font-weight: 500;
    		text-decoration: none;
    		&:hover
    			color: $red !important;
    			outline: none;
.badge
	width: 55px;
	height: 55px;
	margin-right: 15px;
.center-container
	width: 100%;
	height: 30px;
	background-color: #f8f8f8;
.center
	width: 500px;
	margin: auto;

@media (max-width: 850px)
	.topbar
		.logo
			img
				display: block;
				float: none;
			h2
				width: 151px
		.left-topbar
			display: block;
			float: left;
			width: 100%;
			.fire-call-btn
				margin-left: 105px;
	.sidebar
		display: none;
	.dashboard
		width: 100%;
		margin: 0;
		padding: 0;
		.panel
			width: 100%;
			height: 100%;
			margin: 0;


